{% extends "restaurant_base.html" %}
{% block title %}{{restaurant_profile.description}}{% endblock %}
{% block content %}

<div class="account-pill padding-top padding-bottom">
    <div class="container">
        <div class="account-pill__wrapper">
            <div class="account-pill__filter">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-login-tab" data-bs-toggle="pill" data-bs-target="#pills-login" type="button" role="tab" aria-controls="pills-login" aria-selected="true">Login</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-register-tab" data-bs-toggle="pill" data-bs-target="#pills-register" type="button" role="tab" aria-controls="pills-register" aria-selected="false">Register</button>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="pills-tabContent">
             
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
                    <form method="POST" action="{{ url_for('home.account') }}" class="account__form needs-validation" novalidate>
                        {{ login_form.hidden_tag() }}
                        <div class="row g-3">
                            <div class="col-12">
                                <div>
                                    <label for="account-email" class="form-label">User Name </label>
                                    {{ login_form.username_or_email(class="form-control", id="account-email", placeholder="Enter your user name", required=True) }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-pass">
                                    <label for="account-pass" class="form-label">Password</label>
                                    {{ login_form.password(class="form-control", id="account-email", placeholder="Enter your user name", required=True) }}
                                </div>
                            </div>
                        </div>
                        {{ login_form.submit(class="trk-btn trk-btn--border trk-btn--primary d-block mt-4") }}
                    </form>
                </div>

        
                <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab">
                    <form method="POST" action="{{ url_for('home.account') }}" class="account__form needs-validation" novalidate>
                        {{ register_form.hidden_tag() }}
                        <div class="row g-3">
                            <div class="col-12">
                                <div>
                                    <label for="first-name" class="form-label">Username</label>
                                    {{ register_form.username(class="form-control", id="username", placeholder="Enter Your Username") }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="account-email" class="form-label">Email</label>
                                    {{ register_form.email(class="form-control", id="account-email2", placeholder="Enter Your Email", required=True) }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="account-phone" class="form-label">Phone</label>
                                    {{ register_form.phone_number(class="form-control", id="account-phone", placeholder="Enter Your Number", required=True) }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-pass">
                                    <label for="account-pass" class="form-label">Password</label>
                                    {{ register_form.password(class="form-control showhide-pass", id="account-pass2", placeholder="Password", required=True) }}
                                    <p>Must be at least 8 characters.</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-pass">
                                    <label for="account-cpass" class="form-label">Confirm Password</label>
                                    {{ register_form.confirm_password(class="form-control showhide-pass", id="account-cpass", placeholder="Re-type password", required=True) }}
                                </div>
                            </div>
                        </div>

                        {{ register_form.submit(class="trk-btn trk-btn--border trk-btn--primary d-block mt-4") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}