{% extends "restaurant_base.html" %}
{% block title %}{{restaurant_profile.description}}{% endblock %}
{% block content %}




  <!-- ===============>> Blog section start here <<================= -->
  <section class="blog padding-top padding-bottom section-bg ">
    <div class="container">
      <div class="blog__wrapper" data-aos="fade-up" data-aos-duration="1000">
        <div class="row g-4 align-items-center justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="blog__item">
              <div class="blog__item-inner">
                <div class="blog__thumb">
                  <img src="assets/picture/116.png" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <a href="blog-left-sidebar.html" class="blog__meta-tag blog__meta-tag--style1">Ecommerce</a>
                  </div>
                  <h4> <a href="blog-details.html">Comprehensive Guide Efficient Grocery Shopping</a>
                  </h4>

                  <div class="blog__admin">
                    <div class="blog__admin-name">
                      <span><i class="fa-regular fa-user"></i></span> By Jex
                    </div>
                    <div class="blog__admin-date">
                      <span><i class="fa-regular fa-calendar-check"></i></span> Sep 20, 2024
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog__item">
              <div class="blog__item-inner">
                <div class="blog__thumb">
                  <img src="assets/picture/211.png" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <a href="blog-left-sidebar.html" class="blog__meta-tag blog__meta-tag--style2">Essentials</a>
                  </div>
                  <h4> <a href="blog-details.html">Navigating the Freshest Produce in Your Online Grocery Cart</a></h4>

                  <div class="blog__admin">
                    <div class="blog__admin-name">
                      <span><i class="fa-regular fa-user"></i></span> By Canon
                    </div>
                    <div class="blog__admin-date">
                      <span><i class="fa-regular fa-calendar-check"></i></span> Sep 20, 2024
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog__item">
              <div class="blog__item-inner">
                <div class="blog__thumb">
                  <img src="assets/picture/311.png" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <a href="blog-left-sidebar.html" class="blog__meta-tag blog__meta-tag--style3">Organic</a>
                  </div>
                  <h4> <a href="blog-details.html">Nsider Tips for Budget-Friendly and Healthy Grocery Hauls</a></h4>

                  <div class="blog__admin">
                    <div class="blog__admin-name">
                      <span><i class="fa-regular fa-user"></i></span> By Maug
                    </div>
                    <div class="blog__admin-date">
                      <span><i class="fa-regular fa-calendar-check"></i></span> Sep 20, 2024
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog__item">
              <div class="blog__item-inner">
                <div class="blog__thumb">
                  <img src="assets/picture/46.png" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <a href="blog-left-sidebar.html" class="blog__meta-tag blog__meta-tag--style3">Pantry</a>
                  </div>
                  <h4> <a href="blog-details.html">A Guide to Smart and Efficient Grocery Shopping</a></h4>

                  <div class="blog__admin">
                    <div class="blog__admin-name">
                      <span><i class="fa-regular fa-user"></i></span> By Karls
                    </div>
                    <div class="blog__admin-date">
                      <span><i class="fa-regular fa-calendar-check"></i></span> Sep 20, 2024
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog__item">
              <div class="blog__item-inner">
                <div class="blog__thumb">
                  <img src="assets/picture/54.png" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <a href="blog-left-sidebar.html" class="blog__meta-tag blog__meta-tag--style1">Recipes</a>
                  </div>
                  <h4> <a href="blog-details.html">Unlocking the Health and Flavor Benefits in Your Kitchen</a></h4>

                  <div class="blog__admin">
                    <div class="blog__admin-name">
                      <span><i class="fa-regular fa-user"></i></span> By Alex
                    </div>
                    <div class="blog__admin-date">
                      <span><i class="fa-regular fa-calendar-check"></i></span> Sep 20, 2024
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog__item">
              <div class="blog__item-inner">
                <div class="blog__thumb">
                  <img src="assets/picture/63.png" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <a href="blog-left-sidebar.html" class="blog__meta-tag blog__meta-tag--style2">Hygiene</a>
                  </div>
                  <h4> <a href="blog-details.html">Navigating Challenges for Smooth Shopping in Supermarket</a> </h4>

                  <div class="blog__admin">
                    <div class="blog__admin-name">
                      <span><i class="fa-regular fa-user"></i></span> By Nazu
                    </div>
                    <div class="blog__admin-date">
                      <span><i class="fa-regular fa-calendar-check"></i></span> Sep 20, 2024
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog__item">
              <div class="blog__item-inner">
                <div class="blog__thumb">
                  <img src="assets/picture/72.png" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <a href="blog-left-sidebar.html" class="blog__meta-tag blog__meta-tag--style2">Wellness</a>
                  </div>
                  <h4> <a href="blog-details.html">Container Solutions for Prolonging Your Food's Shelf Life</a></h4>

                  <div class="blog__admin">
                    <div class="blog__admin-name">
                      <span><i class="fa-regular fa-user"></i></span> By Oliv
                    </div>
                    <div class="blog__admin-date">
                      <span><i class="fa-regular fa-calendar-check"></i></span> Sep 20, 2024
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog__item">
              <div class="blog__item-inner">
                <div class="blog__thumb">
                  <img src="assets/picture/82.png" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <a href="blog-left-sidebar.html" class="blog__meta-tag blog__meta-tag--style3">Family</a>
                  </div>
                  <h4><a href="blog-details.html">Tips for Stress-Free Shopping with Your Children</a></h4>

                  <div class="blog__admin">
                    <div class="blog__admin-name">
                      <span><i class="fa-regular fa-user"></i></span> By Autin
                    </div>
                    <div class="blog__admin-date">
                      <span><i class="fa-regular fa-calendar-check"></i></span> Sep 20, 2024
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog__item">
              <div class="blog__item-inner">
                <div class="blog__thumb">
                  <img src="assets/picture/92.png" alt="blog Images">
                </div>

                <div class="blog__content">
                  <div class="blog__meta">
                    <a href="blog-left-sidebar.html" class="blog__meta-tag blog__meta-tag--style1">Seasonal</a>
                  </div>
                  <h4> <a href="blog-details.html">Unveiling the Health Benefits of Cucumber and Tomato Duo</a></h4>

                  <div class="blog__admin">
                    <div class="blog__admin-name">
                      <span><i class="fa-regular fa-user"></i></span> By Marz
                    </div>
                    <div class="blog__admin-date">
                      <span><i class="fa-regular fa-calendar-check"></i></span> Sep 20, 2024
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="blog-btn text-center mt-5">
          <a href="blog-right-sidebar.html" class="trk-btn trk-btn--primary ">View More</a>
        </div>
      </div>
    </div>
  </section>
  <!-- ===============>> Blog section start here <<================= -->





{% endblock %}
{% block scripts %}
{% endblock %}