
{% extends "restaurant_base.html" %}
{% block title %}{{restaurant_profile.description}}{% endblock %}
{% block content %}


  <!-- ===============>> Banner section start here <<================= -->
  <section class="banner banner--style1">
    <div class="container">
      <div class="banner__wrapper">
        <div class="row align-items-center g-5">
          <div class="col-lg-6 col-md-7">
            <div class="banner__content" data-aos="fade-right" data-aos-duration="800">
              <h1 class="banner__content-heading">Healthy food everyday</h1>
              <p class="banner__content-moto">We offer good vegen food for you and your family. We are
                committed to providing you with the best quality food and service.</p>
              </p>
              <a href="shop.html" class="trk-btn trk-btn--primary">Order now
                <span><i class="fa-solid fa-arrow-right-long"></i></span></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-5">
            <div class="banner__thumb" data-aos="fade-left" data-aos-duration="1000">
              <img src="" alt="banner-thumb" class="dark">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner__shape">
      <span class="banner__shape-item banner__shape-item--1"><img src="../../../static/assets/picture/radish.png" alt="shape icon"></span>

      <span class="banner__shape-item banner__shape-item--2"><img src="../../../static/assets/picture/tomato.png" alt="shape icon"></span>

      <span class="banner__shape-item banner__shape-item--3"><img src="../../../static/assets/picture/chilli.png" alt="shape icon"></span>

      <span class="banner__shape-item banner__shape-item--5"><img src="../../../static/assets/picture/leaf.png" alt="shape icon"></span>

      <span class="banner__shape-item banner__shape-item--6"><img src="../../../static/assets/picture/chilli-2.png" alt="shape icon"></span>

      <span class="banner__shape-item banner__shape-item--7"><img src="../../../static/assets/picture/radish-2.png" alt="shape icon"></span>
    </div>

  </section>
  <!-- ===============>> Banner section end here <<================= -->



  <!-- ===============>>Flash Product section start here <<================= -->
  <section class="product padding-top padding-bottom section-bg" style="margin-top: 80px;">
    <div class="container">
      <div class="section-header">
        <div class="section-header__content">
          <h2 class="mb-10 me-30">Popular Dish</h2>


        </div>
        <div class="section-header__action order-sm-2">
          <div class="swiper-nav swiper-nav--style1">
            <button class="swiper-nav__btn product__slider-prev"><i class="fa-solid fa-arrow-left-long"></i></button>
            <button class="swiper-nav__btn product__slider-next active"><i class="fa-solid fa-arrow-right-long"></i></button>
          </div>
        </div>
      </div>
      <div class="product__wrapper" data-aos="fade-up" data-aos-duration="1000">

        
        <div class="product__slider swiper">
          <div class="swiper-wrapper">
            {% for item in menu_items %}
            <div class="swiper-slide">
              <div class="product__item product__item--style1">
                <div class="product__item-inner">
                  <div class="product__item-thumb">
                    <img  style="height: 200px; width: 100%;" src="{{ item.image_url}}" alt="Good food" class="dark">
                  </div>
                  <div class="product__item-content">
                    <h4><a href="product-details.html">{{ item.name }}</a>
                    </h4>
                    <div class="product__item-rating">
                      <i class="fa-solid fa-star"></i> 5.0 <span>(12 Reviews)</span>
                    </div>
                    <div class="product__item-footer">
                      <div class="product__item-price">
                        <h4>{{ item.price }} </h4>
                      </div>
                      <div class="product__item-action">
                        <form action="{{ url_for('home.add_to_cart', menu_item_id=item.menu_item_id) }}" method="POST" style="display:inline;">
                          <button type="submit" class="trk-btn trk-btn--outline">Add to cart</button>
                      </form>                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===============>>Flash Product section end here <<================= -->




  <!-- ===============>> Blog section start here <<================= -->
  <section class="blog padding-top padding-bottom section-bg " >
    <div class="container">
      <div class="section-header d-md-flex align-items-center justify-content-between">
        <div class="section-header__content">
          <h2 class="mb-10">Our Employees Stories</h2>
        </div>
        <div class="section-header__action">
          <div class="swiper-nav swiper-nav--style1">
            <button class="swiper-nav__btn blog__slider-prev"><i class="fa-solid fa-arrow-left-long"></i></button>
            <button class="swiper-nav__btn blog__slider-next active"><i class="fa-solid fa-arrow-right-long"></i></button>
          </div>
        </div>
      </div>
      <div class="blog__wrapper" data-aos="fade-up" data-aos-duration="1000">
        <div class="blog__slider swiper">
          <div class="swiper-wrapper">
            {% for employee in employees %}
            <div class="swiper-slide">
              <div class="blog__item blog__item--style2">
                <div class="blog__item-inner">
                  <div class="blog__thumb">
                    <img style="height: 250px; width: 100%;" src="{{ employee.image_url }}" alt="blog Images">
                  </div>

                  <div class="blog__content">
                    <div class="blog__meta">
                      <a href="#">
                        <span class="blog__meta-tag blog__meta-tag--style3">{{ employee.role.value}}</span>
                      </a>
                    </div>
                    <h4> <a href="blog-details.html">It is my story.</a> </h4>

                    <div class="blog__admin">
                      <div class="blog__admin-name">
                        <span><i class="fa-regular fa-user"></i></span> By {{ employee.first_name }}  {{ employee.last_name }}
                      </div>
                      <div class="blog__admin-date">
                        <span><i class="fa-regular fa-calendar-check"></i></span> Sep 20, 2024
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}

          </div>
        </div>
      </div>
      <div class="section-btn mt-4 text-center">
        <a class="trk-btn trk-btn--primary " href="blogs.html">View More</a>
      </div>
    </div>
  </section>
  <!-- ===============>> Blog section start here <<================= -->

{% endblock %}